<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Auser" type="com.po.Auser"/>
        <typeAlias alias="Goods" type="com.po.Goods"/>
        <typeAlias alias="GoodsType" type="com.po.GoodsType"/>
        <typeAlias alias="Notice" type="com.po.Notice"/>
        <typeAlias alias="Buser" type="com.po.Buser"/>
        <typeAlias alias="Order" type="com.po.Order"/>
    </typeAliases>
    <mappers>
        <!--   1.5.1后台管理子系统的实现(管理员登录)     -->
        <mapper resource="com/mybatis/admin/AdminMapper.xml"/>
        <!--    1.5.2 类型管理=类型管理分为添加类型和删除类型   -->
        <mapper resource="com/mybatis/admin/AdminTypeMapper.xml"/>
        <!--   1.5.3 商品管理     -->
        <mapper resource="com/mybatis/admin/AdminGoodsMapper.xml"/>
        <!--   1.5.7 订单管理     -->
        <mapper resource="com/mybatis/admin/AdminOrderMapper.xml"/>
        <!--   1.5.8 用户管理=“用户管理”模块牵涉到删除用户时，要考虑到用户关联的购车、
                关注的商品、订单，如果存在关联就不能直接删除用户。    -->
        <mapper resource="com/mybatis/admin/AdminUserMapper.xml"/>
        <mapper resource="com/mybatis/before/CartMapper.xml"/>
        <mapper resource="com/mybatis/before/UserCenterMapper.xml"/>
        <!--   1.5.9 公告管理     -->
        <mapper resource="com/mybatis/admin/AdminNoticeMapper.xml"/>
        <!--   1.6 前台电子商务子系统的实现     -->
        <mapper resource="com/mybatis/before/IndexMapper.xml"/>
        <!--   1.6.6  用户注册     -->
        <mapper resource="com/mybatis/before/UserMapper.xml"/>
        <!--   1.6.11  下单     -->
        <mapper resource="com/mybatis/before/OrderMapper.xml"/>
    </mappers>
</configuration>