<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" lang="ch">
<head th:replace="admin/common::head"></head>
<body>
<div  style="border: 1px double black;border-radius: 2px;margin: 30px auto" >

    <h3 style="text-align: center">个人信息修改</h3>

    <form class="layui-form" action="">

        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="usernames" required lay-verify="required" placeholder="请输入用户名"
                       autocomplete="off"
                       style="" disabled
                       class="layui-input" th:value="${userInfo.username}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="text" name="password"   placeholder="请输入密码,不输入不修改"
                       autocomplete="off"
                       class="layui-input" >
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" name="name" required lay-verify="required" placeholder="请输入姓名"
                       autocomplete="off"
                       style=""
                       class="layui-input" th:value="${userInfo.name}">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-block">
                <input type="text" name="email" required  placeholder="请输入手机号"
                       autocomplete="off"
                       class="layui-input" th:value='${userInfo.phone}'>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-block">
                <input type="text" name="address" required  placeholder="请输入地址" autocomplete="off"
                       class="layui-input" th:value="${userInfo.address}">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formUserInfo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>




</div>

</body>
<script type="text/javascript" th:inline="javascript">


    //Demo
    layui.use(['form', 'upload'], function () {

        let $ = layui.jquery, upload = layui.upload;
        let form = layui.form;

        let fileUploadStatus = true;

        //普通图片上传
        let uploadInst = upload.render({
            elem: '#test1'
            , url: '/admin/file/upload' //改成您自己的上传接口
            , field: 'editormd-image-file'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                fileUploadStatus = false;
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code === 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
                console.info("upload success" + JSON.stringify(res));
                layer.msg('文件上传成功',{icon:1});
                $("#avatarUrl").val(res.url);
                fileUploadStatus = true;
            }
            , error: function () {
                //演示失败状态，并实现重传
                let demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
                fileUploadStatus = true;
            }
        });


        //监听提交
        form.on('submit(formUserInfo)', function (data) {
            // layer.msg(JSON.stringify(data.field));
            console.info(JSON.stringify(data));
            if (fileUploadStatus) {
                $.ajax({
                    url: "/admin/user/userInfo",
                    type: "put",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(data.field),
                    success: function (data) {
                        if (data.code !== 0) {
                            layer.msg(data.msg, {icon: 5});
                        } else {
                            layer.msg(data.msg);
                            location.reload(); //删除成功后再刷新
                        }
                    },
                    error: function (data) {
                        layer.msg('错误', {icon: 5});
                    }
                });
            } else {
                layer.msg('文件正在上传中，请稍后...');
            }
            return false;
        });
        form.on('submit(formPass)', function (data) {
            let field = data.field;
            if (field.newPass !== field.newPass1) {
                layer.msg("两次输入不一致，请重新输入！");
            } else {
                $.ajax({
                    url: "/admin/user/password",
                    type: "put",
                    dataType: "json",
                    // contentType: "application/json;charset=utf-8",
                    data: data.field,
                    success: function (data) {
                        if (data.code !== 0) {
                            layer.msg(data.msg, {icon: 5});
                        } else {
                            layer.msg(data.msg);
                            location.reload(); //成功后再刷新
                        }
                    },
                    error: function (data) {
                        layer.msg('错误', {icon: 5});
                    }
                });
            }

            // layer.msg(JSON.stringify(field));
            console.info(JSON.stringify(data));
            return false;
        });
    });
</script>
<style>
    .layui-input-block {
        margin-top: 15px;
        margin-right: 15px;
    }
</style>
</html>