<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" lang="ch">

<head th:replace="/admin/common::head"></head>

<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">设置</a>
                <a><cite>分类管理</cite></a>
            </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <button class="layui-btn layui-btn-danger" onclick="deleteAll()">
                        <i class="layui-icon layui-icon-delete" lay-event="deleteAll"></i>批量删除
                    </button>
                    <button class="layui-btn" onclick="xadmin.open('添加分类','common-edit/2/2/0',800,380)">
                        <i class="layui-icon layui-icon-add-1">
                        </i>添加
                    </button>
                </div>
                <div class="layui-card-body ">


                    <table lay-filter="test" id="category"></table>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>layui.use(['form', 'layer', 'table', 'util'],

    function () {
        let table = layui.table;
        let util = layui.util;
        let layer = layui.layer;

        table.render({
            id: 'idTest',
            elem: '#category'
            , url: '/admin/label/list/'
            , height: 600
            , parseData: function (res) { //res 即为原始返回的数据

                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.total, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
            , cols: [
                [
                    {checkbox: true, LAY_CHECKED: false, filter: 'test', width: 80}
                    , {field: 'id', width: 80, sort: true, title: 'id'}
                    , {field: 'name', title: '分类名称', width: 200}
                    , {field: 'description', title: '描述'}
                    , {field: 'shot', title: '排序', sort: true, width: 80, align: "center"}
                    , {
                    field: 'createTime', title: '创建时间', width: 200, templet: function (d) {
                        return xadmin.TimeToDate(d.createTime);
                    }
                }
                    , {
                    field: 'updateTime', title: '修改时间', width: 200, templet: function (d) {
                        return xadmin.TimeToDate(d.updateTime);
                    }
                }
                    , {width: 200, align: 'center', toolbar: '#barDemo', title: '操作'}
                ]
            ]

        });

        table.on('tool(test)', function (obj) {
            let checkStatus = table.checkStatus(obj.data.id);
            switch (obj.event) {
                case 'detail':
                    layer.msg('查看');
                    xadmin.open('编辑分类', 'common-edit/2/1/' + obj.data.id, 800, 380)
                    break;
                case 'edit':
                    layer.msg('编辑');
                    xadmin.open('编辑分类', 'common-edit/2/1/' + obj.data.id, 800, 380)
                    break;
                case 'del':
                    layer.msg('删除');
                    layer.msg('你确定删除么？', {
                        time: 2000,//2秒自动关闭
                        btn: ['确定', '取消'],
                        yes: function (index) {
                            $.ajax({
                                url: "/admin/label/" + obj.data.id,
                                type: "delete",
                                dataType: "json",
                                success: function (data) {
                                    if (data.code !== 0) {
                                        layer.msg(data.msg, {icon: 5});
                                    } else {
                                        layer.msg(data.msg);
                                        location.reload(); //删除成功后再刷新
                                    }
                                },
                                error: function (data) {
                                    layer.msg('错误', {icon: 5});
                                }
                            });
                            layer.close(index);
                        }
                    });

                    break;
                case 'deleteAll':
                    layer.msg("删除所有");
                    break;
            }
        });


        window.deleteAll = function () {

            layer.msg('你确定删除么？', {
                time: 2000,//2秒自动关闭
                btn: ['确定', '取消'],
                yes: function (index) {

                    let checkStatus = table.checkStatus('idTest'); //idTest 即为基础参数 id 对应的值
                    let checkData = checkStatus.data;
                    let arr = [];
                    for (let i = 0; i < checkData.length; i++) { //循环筛选出id
                        arr.push(checkData[i].id);
                    }


                    $.ajax({
                        url: "/admin/label/deleteAll",
                        type: "delete",
                        dataType: "json",
                        traditional: true,
                        data: {
                            'ids': arr
                        },
                        success: function (data) {
                            layer.msg(data.msg);
                            location.reload(); //删除成功后再刷新
                        },
                        error: function (data) {
                            layer.msg('错误', {icon: 5});
                        }
                    });
                    layer.close(index);
                }
            });
        }
    });
</script>

</html>