<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" lang="ch">
<head th:replace="admin/common::head"></head>
<body>

<form class="layui-form" action="/admin/project" method="post">


    <input type="hidden" name="id" class="layui-input" th:value="${data.data.id}">

    <div class="layui-form-item">
        <label class="layui-form-label">申请人</label>
        <div class="layui-input-block">
            <input type="text" name="applicant" required lay-verify="required" placeholder="请输入姓名" autocomplete="off"
                   class="layui-input" th:value="${data.data.applicant}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">指导老师</label>
        <div class="layui-input-block">
            <input type="text" name="instructor" required lay-verify="required" placeholder="请输入姓名" autocomplete="off"
                   class="layui-input" th:value="${data.data.instructor}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">年份</label>
        <div class="layui-input-block">
            <input type="text" id="year" name="year" required lay-verify="required" placeholder="请输入姓名" autocomplete="off"
                   class="layui-input" th:value="${data.data.year}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">项目名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" required lay-verify="required" placeholder="请输入姓名" autocomplete="off"
                   class="layui-input" th:value="${data.data.name}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">团队成员</label>
        <div class="layui-input-block">
            <input type="text" name="member" required lay-verify="required" placeholder="请输入姓名" autocomplete="off"
                   class="layui-input" th:value="${data.data.member}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">批准情况</label>
<!--        <div class="layui-input-block">-->
<!--            <input type="text" name="approvalStatus" required lay-verify="required" placeholder="请输入姓名" autocomplete="off"-->
<!--                   class="layui-input" th:value="${data.data.approvalStatus}">-->
<!--        </div>-->
        <div class="layui-input-block">
            <select name="approvalStatus" lay-filter="aihao" lay-search>
                <option value="0" th:selected="${data.data.approvalStatus == 0}" >未批准</option>
                <option value="1" th:selected="${data.data.approvalStatus == 1}" >已批准</option>
            </select>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">完成情况</label>
        <div class="layui-input-block">
            <select name="completion" lay-filter="aihao" lay-search>
                <option value="0" th:selected="${data.data.completion == 0}">未完成</option>
                <option value="1" th:selected="${data.data.completion == 1}" >已完成</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">经费</label>
        <div class="layui-input-block">
            <input type="text" name="funding" required lay-verify="required" placeholder="请输入经费" autocomplete="off"
                   class="layui-input" th:value="${data.data.funding}">
<!--            funding 无/校级/省级/国家级-->
<!--            <select name="funding" lay-filter="aihao" lay-search>-->
<!--                <option value="无" th:selected="${data.data.funding == '无'}">无</option>-->
<!--                <option value="校级" th:selected="${data.data.funding == '校级'}" >校级</option>-->
<!--                <option value="省级" th:selected="${data.data.funding == '省级'}" >省级</option>-->
<!--                <option value="国家级" th:selected="${data.data.funding == '国家级'}" >国家级</option>-->
<!--            </select>-->
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">级别</label>
        <div class="layui-input-block">
            <!--            funding 无/校级/省级/国家级-->
            <select name="level" lay-filter="aihao" lay-search>
                <option value="无" th:selected="${data.data.level == '无'}">无</option>
                <option value="国家级" th:selected="${data.data.level == '国家级'}" >国家级</option>
                <option value="省级" th:selected="${data.data.level == '省级'}" >省级</option>
                <option value="校级" th:selected="${data.data.level == '校级'}" >校级</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">工作量</label>
        <div class="layui-input-block">
            <input type="text" name="workload" required lay-verify="required" placeholder="请输入姓名" autocomplete="off"
                   class="layui-input" th:value="${data.data.workload}">
        </div>
    </div>






    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

</body>
<script type="text/javascript" th:inline="javascript">
    //Demo
    layui.use(['form','laydate'], function () {

        let form = layui.form;
        var laydate = layui.laydate;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            xadmin.close();
            xadmin.father_reload();
            return true;
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#year' //指定元素
            ,type: 'year'
        });
    });
</script>
<style>
    .layui-input-block {
        margin-top: 15px;
        margin-right: 15px;
    }
</style>
</html>