<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" lang="ch" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="admin/common::head"></head>

<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <blockquote class="layui-elem-quote">欢迎:
                        <span class="x-red" sec:authentication="name"></span>！
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">数据统计</div>
                <div class="layui-card-body ">
                    <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:;" class="x-admin-backlog-body">
                                <h3>学生数</h3>
                                <p>
                                    <cite th:text="${data.student}"> </cite></p>
                            </a>
                        </li>
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:;" class="x-admin-backlog-body">
                                <h3>老师数</h3>
                                <p>
                                    <cite th:text="${data.teacher}"></cite></p>
                            </a>
                        </li>
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:;" class="x-admin-backlog-body">
                                <h3>项目数</h3>
                                <p>
                                    <cite th:text="${data.project}"></cite></p>
                            </a>
                        </li>
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:;" class="x-admin-backlog-body">
                                <h3>考研人数</h3>
                                <p>
                                    <cite th:text="${data.graduate}"></cite></p>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">其他信息</div>
                <div class="layui-card-body ">
                    <div>考研信息</div>
                    <div th:each="detail,Stat:${data.graduateDetails}">
                        <span><p th:text="${detail.year}"></p>  学年</span>录取人数: <span th:text="${detail.LNumber}"></span> /报名人数: <span th:text="${detail.BNumber}"></span>
                        <div class="layui-progress layui-progress-big" lay-showPercent="true">
                            <div class="layui-progress-bar layui-bg-orange" lay-percent="50%">[[${detail.getPercentage()}]]</div>
                        </div>
                        <br/>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>